.app-container {
  background-color: #3367d6;
  padding: 15px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.input-icon {
  background-color: #2850a7;
  border-width: 0px;
  padding-top: 20px;
  margin-left: 3px;
  width: 500px;
  align-items: center;
}
.search-icon {
  background-color: #2850a7;
  margin-left: 400px;
  padding: 3px;
  align-items: center;
}

.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: 'Roboto';
}

.logo-image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.btn-container {
  border: none;
  background-color: transparent;
}

.wrap-container {
  display: flex;
}
